
@{
    ViewBag.favoriteGum = "5 Gum Peppermint";
    var username = "mwelvang";
    
}

<h2>My Favorite Gum Is. @ViewBag.favoriteGum</h2>

<p> The Id is @ViewBag.value</p>
<p> Your Name Is @ViewBag.name</p>
<p> UserName: @username</p>