@{ 

    int ChartLoopingDataNumbers = 2;

    ViewBag.Title = "ChartData";
}
<div class="Chart-Container">
    <canvas id="chart-area" width="400" height="400"></canvas>
</div>

@section Scripts{
        <script>
            var randomScalingFactor = function () {
                return Math.round(Math.random() * 100);
            };

            var ChartLoopingDataNumbers = @ChartLoopingDataNumbers;

            var config = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [
                            ChartLoopingDataNumbers,
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor()
                        ],
                        backgroundColor: [
                            window.chartColors.red,
                            window.chartColors.orange,
                            window.chartColors.yellow,
                            window.chartColors.green,
                            window.chartColors.blue,
                            window.chartColors.gray,
                            window.chartColors.lightblue,
                            window.chartColors.crismon,
                        ],
                        label: 'Dataset 1'
                    }],
                    labels: [
                        "Beverages",
                        "Condiments",
                        "Confections",
                        "Dairy Prodicts",
                        "Grains/Cereals",
                        "Meat/Poultry",
                        "Produce",
                        "Seafood"
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Categories',
                        fontSize: 30
                    },
                    legend: {
                        display: true,
                        labels: {
                            fontColor: 'black'
                        },
                        onClick: function (onClick, item) {
                            alert("Ok, so on the legend click we will direct them to a new page");
                        }
                    }
                }
            };

            window.onload = function () {
                var ctx = document.getElementById("chart-area").getContext("2d");
                window.myPie = new Chart(ctx, config);
            }



</script>
}