@using NorthwindClass.Models;

@{
    ViewBag.Title = "ChartDataPrices";

}


<h2>Price Ranges</h2>

<div class="Chart-Container">
    <canvas id="chart-area" width="400" height="400"></canvas>
</div>
<div class="Chart-Container">
    <canvas id="chart-area" width="400" height="400"></canvas>
</div>
<div id="ChartScripts">

    @section Scripts{
        <script>

            var Set1Total = @ViewBag.Set1;
            var Set2Total = @ViewBag.Set2;
            var Set3Total = @ViewBag.Set3;

        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        Set1Total,
                        Set2Total,
                        Set3Total,
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    "Costs less than 5",
                    "Cost more than 5 and less than 15",
                    "Cost more than 15",
                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Categories',
                    fontSize: 30
                },
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'black'
                    }
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById("chart-area").getContext("2d");
            window.myPie = new Chart(ctx, config);
        }



        </script>
    }
</div>


