body, h1, h2, h3, h4, h4, h6{
 font-family: 'Poppins', sans-serif;
 color: #666;
}

jumbotron {
 border: 1px solid rgba(0,0,0,0.4);
 box-shadow: 1px;
}
.jumbotron h2{
 
}
jumbotron h1 .fa-compass{
 font-size:70%;
}
.jumbotron h1{
 text-shadow: 2px 2px 0 rgba(255,255,255,0.7), 3px 3px 4px rgba(0,0,0,0.6);
}
.jumotron p{
  font: 300;
}
body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 1.5em;
}
a:hover {
    text-decoration: none;
    color: #000;
}

a:hover, a:active, a:focus, a:visited {
    outline: 0;
}

.font-md {
    font-size: 1.5em;
}

.font-lg {
    font-size: 1.8em;
}    
   

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

 styles for validation helpers 
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

table, td, tr{
    empty-cells:hide;
}


.body-content {
margin-top: 100px;
}

.Chart-Container {
    width: 50%;
    float: left;
    background: #ebebeb;
    border-radius: 50px;
    padding: 10px;
    box-sizing: border-box;
}