
@{
    ViewBag.Title = "Lesson9";
}

<h2>Lesson9 Home Work</h2>

<h4>Click The Account, Login and Register Links In The Nav For This Week's Homework...</h4>
<p>...Or Click The corresponding Link Below.</p>
<ul>
    <li>
        @Html.ActionLink("Account Page", "Account", "Customer")
    </li>
    <li>
       @Html.ActionLink("Register Page", "Register", "Customer")
    </li>
    <li>
        @Html.ActionLink("Login Page", "Login", "Customer")
    </li>
</ul>

<blockquote>
    Your assignment is to add a new controller to the Northwind project. The Customer controller should have 3
    controller methods: Account, Register, and SignIn. You will need to create views for each of the controller
    methods. The views should appear similar to the Product views created in the lesson. In addition, add a new
    dropdown-menu to the _Layout page that contains links to each of the new controller methods. Don’t forget
    to add relevant Font-Awesome icons next to each link.
</blockquote>

