@model IEnumerable<NorthwindClass.Models.Category>
@{
    ViewBag.Title = "Categories";
}

<h2>Browse Categories</h2>
<p>Select from @Model.Count() categories:</p>
<ul>
    @foreach (var c in Model)
    {
      <li><a href="/Home/Products/@c.categoryId">@c.categoryName</a></li> 
    }
</ul>

